<style>
#tt {
  width: 50%;
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">TCC-Gen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <img id="tt" src="http://bit.ly/2PeYMBG" alt="Flowers in Chania">
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorias">Area de Pesquisa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/universidades">Universidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/alunos">Alunos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/professores">Professores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pais">Pais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/regioes">Região</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/estados">Estados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pais">Pais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/regioes">Regiões</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/estados">Estados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cidades">Cidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cursos">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/turmas">Turmas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pais">Pais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ag">Agências Financiadoras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tiposdocumentos">Tipos de Documentos</a>
      </li>
      
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/logout">Sair</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/registro">Registro</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>
