<div class="card">
  <div class="card-header">
    <h3>Categorias </h3>
  </div>
  <div class="card-body">
    {{#each universidades}}
      <a href="/univercidades/{{descricao}}"><h4 class="card-title ">{{nome}}</h3></a>
    {{else}}
    {{/each}}
  </div>
</div>
