<div class="card">
  <div class="card-body">
    <a class="btn btn-success btn-md" href="/admin/postagens" role="button"> Gerenciar Trabalhos </a>
    <a class="btn btn-success btn-md" href="/admin/categorias" role="button"> Gerenciar categoria</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h1>{{postagem.titulo}}</h1>
    <hr>
    <small>Data de publicação: {{postagem.data}}</small>
    <hr>
    {{postagem.conteudo}}
  </div>
</div>
